
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Source Sans Pro !important;
}

/* 
*************************
Logged in Header
*************************
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  background-color:#38D9C5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0px !important;
}
.headerLogo {
  margin: 25px 50px 20px;
  padding: 10px 10px 10px 10px;
  background-color: #E3FFFB;
  width: 48px;
  height: 48px;
  left: 24px;
  border-radius: 4px;
}

.customerName {

  top: 3%;
  left: 40%;
  margin-right: -48%;
  width: 384px;
  height: 62px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
  letter-spacing: 1px;
  position: absolute;
  z-index: 12;
}
.logOut{
  position: absolute;
  width: 102px;
  height: 67px;
  left:calc(100% - 150px);  
  top: 24px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  /* identical to box height, or 178% */
  z-index: 10;
  letter-spacing: 1px;
  border: none;
  background:transparent;
  color:white;
}
.waves {
  position: relative;
  overflow: hidden;
  width: 1100px;
  padding-right: none;
  background-color:#38D9C5 !important;

}

.wave.one {
  position: absolute;
  width: 100%;
  height: 119.5px;
  right: -14px;
  top: 27.5px;
  opacity: 0.5;  
}

.wave.one::before {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 0;
  transform: skewY(5deg);
}

.wave.two {
  position: absolute;
  width: 100%;
  height: 167.5px;
  right: -14px;
  top: -19px;
  
  opacity: 0.2;
}
.wave.three {
  position: absolute;
  width: 100%;
  height: 215.5px;
  right: -14px;
  top: -79px;
  
  opacity: 0.1;
}
.wave svg {
  height: 100%; 
  width: 100%;
  background-color: #38D9C5;
}

.wave.three path {
  stroke: none; 
  fill: #A0FFF3;
}

.wave.two path {
  stroke: none; 
  fill: #FFFFFF;
}

.wave.one path {
  stroke: none; 
  fill: #A0FFF3;
}

/*
****************
Main Container
**************
 */


.buttonsContainer{
  display:flex;
  justify-content: space-between;
}

.buttonsContainer{
  margin-top: 3%;
}


/*
****************
Buttons
**************** 
 */
.toggleEmbeds{
  margin-left: 5%;

}

.toggleEmbeds button:hover{
  font-weight: bold;
  font-size: 25px;

}

.selected{
  border-bottom:10px solid #38D9C5 !important;
  font-size: 23px !important;
  font-weight: bolder !important;

}


.toggleEmbeds button{
  width: 192px;
  border: none;
  background-color: transparent;
  color: #191925;
  font-size: 21px;

}
.exportButtons button{
  background: #38D9C5;
  border: 1px solid #38D9C5 !important;
  box-sizing: border-box;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 19px;
  margin-right: 10px;

}

button a { color: #FFFFFF;;text-decoration: none;
} 

button a:hover { color: #FFFFFF;;text-decoration: none;
} 
.exportButtons button.unactive{
  background: grey;
}

.exportButtons button.unactive:hover,button.unactive a:hover{
  background: grey;
  cursor: no-drop;
  color: #FFFFFF;
}
.toggleEmbeds button, .exportButtons button{
  height: 50px;
  font-family: Source Sans Pro;
  font-style: normal;
  line-height: 20px;
  padding: 10px;
  letter-spacing: 1px;
  
}

/* 
*******************
iFrame Embeds
*******************
*/

.iframe{

  display: none;
}

.iframe.active{
  margin: 2% 0 0 0;
  padding-right: .5%;
  width: 98%;
  display: block;
}

/* 
********************
Auth Page
********************
 */


.loginWave  {
  width: 100% !important;
  stroke: none; 
  fill: #A0FFF3;
  position: absolute;
  bottom: 0;
  
} 

.loginContainer {
  position: fixed;
  overflow: hidden;
  height: 116%;
  right: 0;
  padding: 0 !important;
  left: 0;
}

.loginForm {

position: fixed;
width: 725px;
height: 500px;
left: 50%;
top: 60%;
margin-top: -295px;
margin-left: -350px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
display: flex;
}

@media only screen and (min-width: 2000px) {

  .loginForm {

    position: fixed;
    width: 725px;
    height: 650px;
    left: 50%;
    top: 50%;
    margin-top: -295px;
    margin-left: -350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    }
    
    .loginContainer {
      position: fixed;
      overflow: hidden;
      height: 121%;
      right: 0;
      padding: 0 !important;
      left: 0;
    }
    
}

.svgArt{
  overflow:hidden;
  box-shadow: none !important;
  width: 55%;
}

.authForm {
  display: flex;
  flex-direction:column ;
  align-items: center;
  width: 50%
}

.loginLogo{
  margin-top: 11%;  
  width: 60px !important;
  height: 50px;
}

.loginheader{

  width:215px ;
  height:42px ;
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  /* or 117% */
  
  text-align: center;
  
  color: #434444;

}

.loginheader.two{
  margin-top: 12%;
  width: 170px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px !important;
  line-height: 35px;
/* identical to box height, or 194% */


  color: #434444;
}

form{ 
  display: flex;
  flex-direction: column;
}

.formInput input{

width: 268px;
height: 40px;
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* color/gray/1200 hover */

color: #191925;

background: #FFFFFF;
border: 1px solid #38D9C6;
box-sizing: border-box;
border-radius: 20px;

}

.formInput span {
  color:red;
  margin-left: 2px;
}

.formInput button {
  width: 268px;
  height: 40px;
  bottom: 0;
  color: white;
  background: #38D9C5;
  border-radius: 20px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border: none;
  align-self: flex-end;
  margin-top: 15%;
}

.password{
  background-image: url(/src/main-page/assets/icon.png)  !important;
  background-repeat: no-repeat !important;
  background-size: 10px !important;
  padding-left: 30px !important;
  background-position: left 10px top 50% !important;
}

.username{
  background-image: url(/src/main-page/assets/avatar.png)  !important;
  background-repeat: no-repeat !important;
  background-size: 15px !important;
  padding-left: 30px !important;
  background-position: left 10px top 50% !important;
}

